<div class="row">
  <div class="col-md-12">
    <h1>Pizza Flavors</h1>

    <div class="row">
      <mat-form-field class="mx-auto w-50" appearance="outline">
        <mat-label>First Pizza</mat-label>
        <input type="password" matInput [(ngModel)]="firstPizza">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="mx-auto w-50" appearance="outline">
        <mat-label>Second Pizza</mat-label>
        <input type="password" matInput [(ngModel)]="secondPizza">
      </mat-form-field>
    </div>

    <div class="row">
      <button class="mx-auto w-50" mat-raised-button color="primary" (click)="createVoting()">Create Voting</button>
    </div>
  </div>
</div>
