    .buttons {
    width: 200px;
    margin: auto;
    display: inline;}
    
    .create_btn {
    width: 200px;
    margin: auto;
    position:absolute;
    top: 250px;
    right: 650px;}

    .gen_btn {
    width: 200px;
    margin: auto;
    position: absolute;
    top: 250px;
    right: 290px;}