<div class="row">
  <div class="col-md-12">
    <h1>Create Account</h1>
  </div>
</div>

<div class="row">
  <mat-form-field class="mx-auto w-50" appearance="outline">
    <mat-label>Mneumonic</mat-label>
    <textarea matInput [(ngModel)]="mneumonic" id="GenMneumonic"></textarea>
  </mat-form-field>
</div>
<div class="row">
  <mat-form-field class="mx-auto w-50" appearance="outline">
    <mat-label>Password</mat-label>
    <input type="password" matInput [(ngModel)]="password">
  </mat-form-field>
</div>

<div class="row">
  <button class="mx-auto w-50" mat-stroked-button color="primary" (click)="generateMnemonic()">Generate
    Mnemonic</button>
</div>

<div class="row">
  <button class="mt-3 mx-auto w-50" mat-raised-button color="primary" [disabled]="!mneumonic"
    (click)="createAccount()">Create</button>
</div>
