<div class="row">
  <div class="col-md-12">
    <h1>Create Account</h1>
    <div class="row">
      <mat-form-field class="mx-auto w-50" appearance="outline">
        <mat-label>Mneumonic</mat-label>
        <textarea matInput [(ngModel)]="mneumonic" id="GenMneumonic"></textarea>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="mx-auto w-50" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput [(ngModel)]="password">
      </mat-form-field>
    </div>

    <div class="button">
      <button class="create_btn" mat-raised-button color="primary" (click)="createAccount()">Create</button>
      <button class="gen_btn" mat-stroked-button color="primary" (click)="generateMnemonic()">Generate Mnemonic</button>
    </div>
  </div>
</div>
