<div class="row">
  <div class="col-md-12">
    <h1>Proposals</h1>

    <div class="row">
      <div class="col-md-12">
        <mat-selection-list class="w-50 mx-auto" [multiple]="false" [(ngModel)]="selectedItem">
          <mat-list-option *ngFor="let proposal of proposals" [value]="proposal">
            {{ proposal }}
          </mat-list-option>
        </mat-selection-list>
      </div>
    </div>

    <div class="row">
      <button class="mx-auto w-50 mt-5" mat-raised-button color="primary" [disabled]="!selectedItem"
        (click)="vote()">Vote</button>
    </div>
  </div>
</div>
