<div class="row">
  <div class="col-md-12">
    <h1>Buy Pizza</h1>

    <div class="row">
      <mat-form-field class="mx-auto w-50" appearance="outline">
        <mat-label>Dough</mat-label>
        <input type="text" matInput [(ngModel)]="dough">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="mx-auto w-50" appearance="outline">
        <mat-label>Topping</mat-label>
        <input type="text" matInput [(ngModel)]="topping">
      </mat-form-field>
    </div>

    <div class="row">
      <mat-form-field class="mx-auto w-50" appearance="outline">
        <mat-label>Extra</mat-label>
        <input type="text" matInput [(ngModel)]="extra">
      </mat-form-field>
    </div>

    <div class="row">
      <p class="w-100 mt-3" style="text-align: center;" *ngIf="loading">Buying pizza...</p>
      <button class="mx-auto w-50" mat-raised-button color="primary" [disabled]="loading" (click)="buyPizza()">Buy
        Pizza</button>
    </div>
  </div>
</div>
