<div class="row">
  <div class="col-md-12">
    <h1>Signin</h1>

    <div class="row">
      <mat-form-field class="mx-auto w-50" appearance="outline">
        <mat-label>Password</mat-label>
        <input type="password" matInput [(ngModel)]="password">
      </mat-form-field>
    </div>

    <div class="row">
      <p class="w-100 mt-3" style="text-align: center;" *ngIf="loading">Signing in...</p>
      <button class="mx-auto w-50" mat-raised-button color="primary" [disabled]="loading"
        (click)="signin()">Signin</button>
    </div>
  </div>
</div>
